body {
  margin: 0;
  font-family: 'Sora';
  background: #020617;
  color: white;
}

.app {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* STATS */
.stats {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.stats div {
  background: #0f172a;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  gap: 10px;
}

.grid div {
  background: #1e293b;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.grid div:hover {
  background: #38bdf8;
  color: black;
}

/* ACTIVE */
.active {
  background: #38bdf8 !important;
  color: black;
}

/* CHIPS */
.chips {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.chip {
  background: #1e293b;
  padding: 6px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.chip.active {
  background: #38bdf8;
  color: black;
}

.hidden {
  display: none;
}